{% extends 'base.html' %}
{% block body %}
<div class="jumbotron">
	<h1 class="display-3">{{detail.title}}</h1>
	<p class="lead">{{detail.cause}}</p>
	<hr class="my-4">
</div>
<img src="{{detail.image.url}}" style="display:block; margin-left:auto; margin-right:auto; width:75%; height:75%;">
<div style="text-align: center; margin:10px;">{{detail.summary}}</div>
<div>Attendees : </div><br>
<ul>
	{% for x in detail.attendees.all %}
	<li>{{x.first_name}} {{x.last_name}}</li>
	{% endfor %}
</ul>
<div>Organisers : </div><br>
<ul>
	{% for x in detail.group.all %}
	<li>{{x.first_name}} {{x.last_name}}</li>
	{% endfor %}
</ul>
<div>Sponsors : </div><br>
<ul>
	{% for x in detail.sponsors.all %}
	<li>{{x.first_name}} {{x.last_name}}</li>
	{% endfor %}
</ul>
<ul style="list-style-type: none; margin-top:10px; margin-right: auto; margin-left: auto;">
	<li style="float: left; margin:5px;"><a class="btn btn-primary btn-lg" href="{% url 'attend' detail.pk%}" role="button">Attend</a></li>
	<li style="float: left; margin:5px;"><a class="btn btn-primary btn-lg" href="{% url 'organise' detail.pk%}" role="button">Organize</a></li>
	<li style="float: left; margin:5px;"><a class="btn btn-primary btn-lg" href="{% url 'sponsor' detail.pk%}" role="button">Sponsor</a></li>
</ul>
{% endblock %}