{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<ul style="margin: 10px;list-style-type: none;">
	{% for x in list %}
	<li style="float:left; margin: 5px;">
		<div class="card mb-3" style="width:250px; height:400px;">
			<h3 class="card-header">{{x.title}}</h3>
			<div class="card-body">
				<h5 class="card-title">{{x.cause}}</h5>
			</div>
			<img style="height: 200px; width: 100%; display: block;" src="{{x.image.url}}" alt="Card image">

			<ul class="list-group list-group-flush">
				<li class="list-group-item">Date : {{x.date}}</li>
				<li class="list-group-item">Time : {{x.time}}</li>
				<li class="list-group-item">Place : {{x.city}}, {{x.country}}</li>
				<li class="list-group-item"> <a href="{% url 'event_details' x.pk %}" class="card-link">Know More</a></li>
			</ul>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}