{% extends 'base.html' %}
{% block body %}
<div class="jumbotron">
	<h1 class="display-3">{{detail.title}}</h1>
	<h4 class="lead">{{detail.cause}}</h4>
	<hr class="my-4">
    <h6>{{ detail.time }}, {{ detail.date }}</h6>
    <h6>{{ detail.street }}, {{ detail.city }}</h6>
    <h6><b>Organised by: </b>{{ detail.organiser.first_name }}</h6>
</div>

<div style="text-align: center; margin:10px;">{{detail.summary}}</div>
<div class="container">
<div class="row"><img src="{{detail.image.url}}" style="display:block; margin-left:auto; margin-right:auto; width:75%; height:75%;"></div>
<div class="row" style="text-align: center; margin :10px">
    <div class="col-sm-3"><h3>Track us</h3></div>
</div>
<div class="row">
   <div class="offset-sm-3" id="map"></div>
</div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Event Details</div>
                  <div class="card-body">
                    <h6 class="card-title"><b>Attendees</b></h6>
                      {% for attendee in detail.attendees.all %}
                          <h6>{{ attendee.first_name }} {{ attendee.last_name }}</h6>
                      {% endfor %}
                  </div>
            </div>
        </div>
        <div class="col-sm-4">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-header">Event Details</div>
                      <div class="card-body">
                        <h6 class="card-title"><b>Organisers</b></h6>
                          {% for organiser in detail.group.all %}
                              <h6>{{ organiser.first_name }} {{ organiser.last_name }}</h6>
                          {% endfor %}
                      </div>
                </div>
        </div>
        <div class="col-sm-4">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-header">Event Details</div>
                      <div class="card-body">
                        <h6 class="card-title"><b>Sponsors</b></h6>
                          {% for sponsor in detail.sponsors.all %}
                              <h6>{{ sponsor.first_name }} {{ sponsor.last_name }}</h6>
                          {% endfor %}
                      </div>
                </div>
        </div>
    </div>
</div>

    <script>
        console.log({{ detail.longitude}});
      function initMap() {
        var myLatLng = {lat: {{ detail.latitude }}, lng: {{ detail.longitude }}};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: myLatLng
        });
``
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxBislywSht1-OINIsHfCmsYpU4N7wvJw&callback=initMap">
    </script>
<ul style="list-style-type: none; margin-top:10px; margin-right: auto; margin-left: auto;">
	<li style="float: left; margin:5px;"><a class="btn btn-primary btn-lg" href="{% url 'attend' detail.pk%}" role="button">Attend</a></li>
	<li style="float: left; margin:5px;"><a class="btn btn-primary btn-lg" href="{% url 'organise' detail.pk%}" role="button">Organize</a></li>
	<li style="float: left; margin:5px;"><a class="btn btn-primary btn-lg" href="{% url 'sponsor' detail.pk%}" role="button">Sponsor</a></li>
   	<li style="float: left; margin:5px;"><a class="btn btn-primary btn-lg" href="{% url 'paid_services' detail.pk%}" role="button">Paid services</a></li>
</ul>
{% endblock %}